[global.config]
  as = ${GOBGP_LOCAL_AS}
  router-id = "${GOBGP_ROUTER_ID}"

[[neighbors]]
  [neighbors.config]
    neighbor-address = "${GOBGP_PEER_IP}"
    peer-as = ${GOBGP_PEER_AS}
  [neighbors.ebgp-multihop.config]
    enabled = true
    multihop-ttl = 10
  [neighbors.timers.config]
    hold-time = 240
    keepalive-interval = 80
  [[neighbors.afi-safis]]
    [neighbors.afi-safis.config]
      afi-safi-name = "ipv4-unicast"
